# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dotenv
.env
.env.*

# Mac/Windows
.DS_Store
Thumbs.db

# PostgreSQL data (volume dışı varsa)
pgdata/
postgres-data/

# Next.js & VSCode
.next/
.vscode/
coverage/
out/
dist/
